body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.make-it-beautiful {
  --theme-color: linear-gradient(135deg, #f8d5bc, #d346f3);
  --background-color: #f6f8fa;
  --font-color: #2f363d;
  --svg-color: #2f363d;
  --border-color: #e1e4e8;
  --border-color-light: #d1d5da;
  --hover-color: rgba(0, 0, 0, 0.05);
  --font-sans: 'Inter', -apple-system, BlinkMacSystemFont, Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', 'Apple Color Emoji',
    'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji', sans-serif;
}

.make-it-beautiful.dark {
  --background-color: #24292e;
  --font-color: #f6f8fa;
  --svg-color: #ffffff;
  --border-color: #30363d;
  --border-color-light: #6a737d;
  --hover-color: rgba(255, 255, 255, 0.05);
}

[hidden] {
  display: none !important;
}
